.btn-1 {
  color: var(--cor-0);
  background-color: var(--cor-3);
  padding: 1.25rem 2.1875rem;
  border-radius: 0.875rem;
}

.btn-2 {
  color: var(--cor-1);
  background-color: var(--cor-2);
  padding: 1.25rem 2.1875rem;
  border-radius: 0.875rem;
}

.btn-3 {
  color: var(--cor-1);
  background-color: rgba(0, 255, 0, 0);
  border: 0.0625rem solid var(--cor-3);
  padding: 1.25rem 2.1875rem;
  border-radius: 0.875rem;
}

.link {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}

.titulo {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
