:root {
  --cor-0: #ffffff;
  --cor-1: #000000;
  --cor-2: #b9ff66;
  --cor-3: #191a23;
  --cor-4: #f3f3f3;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.bg-1 {
  background-color: var(--cor-0);
}

.bg-2 {
  background-color: var(--cor-2);
}

.bg-3 {
  background-color: var(--cor-4);
}

.bg-4 {
  background-color: var(--cor-3);
}
