.contact {
  margin-top: 140px;
  display: grid;
  gap: 80px;
}

.contact h2 {
  padding: 0rem 0.4375rem;
  border-radius: 0.4375rem;
}

.contact .titulo p {
  max-width: 30ch;
}

.contact-form-bg {
  display: grid;
  grid-template-columns: 7fr 4fr;
  border-radius: 45px;
}

.contact-form-bg img {
  max-height: 650px;
  justify-self: end;
  align-self: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 80px;
  max-width: 556px;
}

.contact-form-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form-info label {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4375rem;
  margin-bottom: 4px;
}

.contact-form-info input[type="text"],
.contact-form-info input[type="email"],
.contact-form-info textarea {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4375rem;
  background: var(--cor-0);
  border: 1px solid var(--cor-3);
  padding: 18px 30px;
  border-radius: 14px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.contact-form-info input[type="text"]:focus,
.contact-form-info input[type="email"]:focus,
.contact-form-info textarea:focus {
  outline: none;
  border-color: var(--cor-2);
  box-shadow: 0 0 0 2px #b9ff66;
}

.contact-form-info div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form-selecion {
  display: flex;
  gap: 35px;
}

.contact-form-selecion-radio {
  display: grid;
  grid-template-columns: 28px auto;
  gap: 14px;
  align-items: center;
}

input[type="radio"] {
  background-color: var(--cor-0);
  font: inherit;
  width: 28px;
  height: 28px;
  border: 1px solid var(--cor-3);
  border-radius: 50%;
  transform: translateY(0.03em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--cor-2);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
