.OurWorkingProcess {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.OurWorkingProcess-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.OurWorkingProcess h2 {
  padding: 0rem 0.4375rem;
  border-radius: 0.4375rem;
}

.OurWorkingProcess .titulo p {
  max-width: 25ch;
}
.OurWorkingProcess-card {
  border-radius: 45px;
  border: 0.0625rem solid #191a23;
  box-shadow: 0rem 0.375rem 0rem 0rem #191a23;
  background-color: var(--cor-4);
  padding: 41px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.OurWorkingProcess-card-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.OurWorkingProcess-card-titulo-text {
  display: flex;
  align-items: center;
  gap: 25px;
}

.OurWorkingProcess-card-conteudo {
  display: none;
  gap: 30px;
  flex-direction: column;
}

.OurWorkingProcess-card-sep {
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--cor-3);
}

.disable {
  display: flex;
}

.active {
  background-color: var(--cor-2);
}

.active .OurWorkingProcess-card-titulo::after {
  transform: rotateZ(0deg);
}

.active .OurWorkingProcess-card-conteudo {
  display: flex;
}

.OurWorkingProcess-card-titulo::after {
  content: "";
  background: url(/img/icons/-.svg) no-repeat;
  background-size: contain;
  height: 58px;
  width: 58px;
  position: absolute;
  right: 0px;
  top: 10px;
  transform: rotateZ(90deg);
}
